<div class="container-fluid">
  <div class="row">

    <!-- LEFT SIDEBAR -->
    <div class="col-md-2">
      <%= render "shared/sidenav", programs: @programs %>
    </div>

    <!-- MAIN CONTENT -->
    <div class="col-md-7">
      <h1><%= @program.workout %></h1>
      <%= @program.description %>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="col-md-3">
      <h2>Chats</h2>
      <%= button_to "New chat", program_chats_path(@program), class: "btn btn-primary mb-3" %>

      <% if @chats.any? %>
        <ul>
          <% @chats.each do |chat| %>
            <li><%= link_to chat.title, chat_path(chat) %></li>
          <% end %>
        </ul>
      <% else %>
        <p>There are no chats yet.</p>
      <% end %>
    </div>

  </div>
</div>
