<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo_noir_gomuscu_big.png", alt: "GoMuscu" %>

  <%# CENTRE : animation %>
    <div class="navbar-animation d-none d-sm-flex">
      <div class="dumbbell-wrap">
        <div class="dumbbell">
          <div class="plate p-outer"></div>
          <div class="plate p-inner"></div>
          <div class="collar"></div>
          <div class="bar"></div>
          <div class="collar"></div>
          <div class="plate p-inner"></div>
          <div class="plate p-outer"></div>
        </div>
      </div>
    </div>
<% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto align-items-center gap-1">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Home", root_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to current_user.name, "#", class: "nav-link" %>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-avatar" id="navbarDropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-user"></i>
            </a>
            <div class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete}, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign up", new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to new_user_session_path, class: "nav-avatar" do %>
              <i class="fas fa-user"></i>
            <% end %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
